@font-face {
    font-family: "proximaNova";
    src: url("fontsfree-net-proxima-nova-bold-webfont.woff2");
}

body {
    background-color: black;
}

.wtf-is-this {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.description-content-wrapper {
    border-color: thistle;
    border-radius: 10px;
    border-style: dotted;
}

.description-content {
    max-width: 250px;
    padding-left: 50px;
    padding-right: 50px;
}

.header-title {
    font-family: proximaNova;
    color: white;
}

p {
    font-family: proximaNova;
    color: white;
}