@import url("/styles/styles_fonts.css");

:root {
    --marker-scale: 1;
    --marker-pos-x: 9.25%;
    --marker-pos-y: -31.5%;
}

@keyframes rotate {
    from {
        transform: translate(var(--marker-pos-x), var(--marker-pos-y)) rotate(0deg) scale(var(--marker-scale))
    }
    to {
        transform: translate(var(--marker-pos-x), var(--marker-pos-y)) rotate(360deg) scale(var(--marker-scale))
    }
}

body {
    background-color: black;
}

.back-button {
    display: flex;

    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 2;

    top: 10px;

    padding: 5px 15px;
    margin: 15px;
    background-color: #ffffff;
    border-radius: 25px;

     box-shadow: 0 0 5px rgba(0, 255, 0, 0);
     transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.back-text {
    font-weight: bold;
    font-family: "baukastenBook";

    color: black;
    text-decoration: none;
}

.back-button:hover {
    box-shadow: 0 0 15px rgba(210, 216, 210, 0.5);

    transform: scale(1.1);
    size: 100px;
}

.marker {
    position: absolute;
    z-index: 100;
    mix-blend-mode: difference;
    animation: rotate 60s linear infinite;
    pointer-events: none;
    margin: auto;
    width: 55%;
}

.logo {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
    user-select: none;
}

.hitmarkers-main {
    white-space: nowrap;
    margin-top: -1rem;
    margin-bottom: -0.25rem;
    font-size: 5rem;
    font-family: 'baukastenBold';
    color: white;
    font-style: italic;
    text-shadow: 1px 1px 7.5px white;
}

.hitmarkers-nep {
    white-space: nowrap;
    margin:auto;
    font-size: 1rem;
    font-family: 'baukastenBold';
    color: white;
    font-style: italic;
    transform:translateX(20px);
    text-shadow: 1px 1px 7.5px white;
}

.hitmarkers-options {
    display: flex;
}

.hitmarkers-options > a {
    white-space: nowrap;
    margin: auto;
    font-size: 1rem;
    font-family: 'baukastenBold';
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .marker {
        position: absolute;
        z-index: 100;
        mix-blend-mode: difference;
        animation: rotate 60s linear infinite;
        pointer-events: none;
        margin: auto;
        width: 55%;
    }

    .hitmarkers-main {
        white-space: nowrap;
        margin-top: -1rem;
        margin-bottom: -0.25rem;
        font-size: 13.5vw;
        font-family: 'baukastenBold';
        color: white;
        font-style: italic;
        text-shadow: 1px 1px 7.5px white;
    }

    .hitmarkers-nep {
        white-space: nowrap;
        margin-bottom: 0.75vh;
        font-size: 3vw;
        font-family: 'baukastenBold';
        color: white;
        font-style: italic;
        transform:translateX(3vw);
        text-shadow: 1px 1px 7.5px white;
    }

    .hitmarkers-options {
        display: flex;
        flex-direction: column;
    }

    .hitmarkers-options > a {
        white-space: nowrap;
        margin: auto;
        font-size: 1.5rem;
        font-family: 'baukastenBold';
        color: white;
        text-decoration: none;
    }
}