:root {
    --width-side-1: 650px;
    --width-side-2: 350px;
}

@font-face {
    font-family: "baukastenBold";
    src: url("https://notenoughphotons.dev/fonts/HomepageBaukasten-Bold.woff2");
}

@font-face {
    font-family: "baukastenBook";
    src: url("https://notenoughphotons.dev/fonts/HomepageBaukasten-Book.woff2");
}

body {
    background-color: black;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: fade-in 1s ease-in forwards;
}

.project-header {
    position: relative;
    background-color: black;
    width: 100%;
    height: 98vh;
}

.project-header > .project-info {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: left;
    mix-blend-mode: normal;

    bottom: 0%;
    left: 0%;

    padding: 50px;

    perspective: 100px;

    opacity: 0%;

    animation-name: fade-in-text;
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
    animation-duration: 3s;
    animation-delay: 1.25s;
    animation-fill-mode: forwards;
}

.project-info > * {
    color: green;
    text-shadow: gray 2px 2px 5px;
}

.project-banner-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.project-banner-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    animation: fade-in-banner 1s ease-in-out forwards;
}

.project-body {
    background-color: rgb(10, 10, 10);

    width: 100%;
    height: 100%;
}

.project-description { 
    padding-top: 0.25%;
    padding-left: 50px;
    padding-right: 50px;
}

.project-description h1 {
    color:white;
    font-family: "baukastenBold";
    font-size: 50px;
}

.project-description p {
    color: white;
    font-family: "baukastenBook";
    font-size: 25px;
}

.project-info p {
    color: white;
    font-size: 4vh;
    font-family: "baukastenBold";
}

.info-item {
    margin-top: 0px;
    margin-bottom: 0px;
}

@keyframes fade-in-text {
    from { 
        transform: translateX(-5px);
        opacity: 0% 
    }
    to { 
        transform: translateX(0px);
        opacity: 100% 
    }
}

@keyframes fade-in-banner {
    from { 
        transform: scale(1.05); 
        opacity: 0%; 
    }
    to { 
        transform: scale(1); 
        opacity: 100%; 
    }
}

@keyframes fade-in {
    from { 
        opacity: 0%; 
    }
    to { 
        opacity: 100%; 
    }
}