:root {
    --grid-width: 250px;
    --grid-height: 250px;
}

.button-close {
    display: flex;

    justify-content: center;
    align-items: center;

    position: absolute;
    background-color: white;

    top: 5%;
    right: 25px;

    width: 50px;
    height: 50px;

    border-radius: 75px;

    cursor: pointer;
}

.button-close > img {
    position: relative;
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.button-close:hover {
    background-color: lightgray;
}

.button-close:active {
    background-color: gainsboro;
}

.button-close:disabled {
    cursor: none;
}

.backButton {
    display: flex;

    justify-content: center;
    align-items: center;

    position: absolute;
    background-color: white;

    top: 50%;
    left: 50px;

    width: 50px;
    height: 50px;

    border-radius: 75px;

    cursor: pointer;
}

.backButton > img {
    position: relative;
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.backButton:hover {
    background-color: lightgray;
}

.backButton:active {
    background-color: gainsboro;
}

.backButton:disabled {
    cursor: none;
}

.nextButton {
    display: flex;

    justify-content: center;
    align-items: center;

    position: absolute;
    background-color: white;

    top: 50%;
    right: 50px;

    width: 50px;
    height: 50px;

    border-radius: 75px;

    cursor: pointer;
}

.nextButton:hover {
    background-color: lightgray;
}

.nextButton:active {
    background-color: gainsboro;
}

.nextButton:disabled {
    cursor: none;
}

.nextButton > img {
    position: relative;
    width: 50%;
    height: 50%;
    object-fit: contain;
    transform: rotate(180deg)
}

.gallery-image-view {
    display: none;
    position: fixed;

    width: 1280px;
    height: 720px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1;
    overflow: hidden;   

    animation: fade-in 0.25s ease-in-out forwards;
}

.gallery-image-view > .gallery-image {
    position: absolute;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.gallery-image-view > .gallery-view-footer {
    display: flex;

    justify-content: space-between;

    position: absolute;
    width: 100%;
    height: 100%;
}

.gallery-image-view > .button-close { 
    position: absolute;
    z-index: 2;
}

.gallery-view-footer > button {
    width: 15%;
}

.gallery-view-footer > .pageIndex {
    position: absolute;

    left: 50%;
    bottom: 10%;

    font-family: "baukastenBook";
    color: white;

    z-index: 100;
}

.gallery-view-container {
    display: flex;

    flex-wrap: wrap;

    row-gap: 25px;
    column-gap: 50px;

    width: 100%;
    height: 100%;
}

.gallery-image-container {
    size: 100px;
    overflow: hidden;

    flex-basis: 500px;

    cursor: pointer;
}

.gallery-image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    animation-name: zoom-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.gallery-image-container > img:hover {
    animation-name: zoom-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.gallery-image-container > p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-view-container {
    display: flex;

    flex-wrap: wrap;

    row-gap: 25px;
    column-gap: 50px;

    width: 100%;
    height: 100%;
}

.video-thumbnail-container {
    position: relative;
    size: 100px;
    overflow: hidden;

    flex-basis: 500px;

    cursor: pointer;
}

.video-thumbnail-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    animation-name: zoom-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.video-thumbnail-container:hover img {
    animation-name: zoom-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.video-thumbnail-container:hover .vid-footnote {
    animation-name: footnote-fade-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.video-thumbnail-container > .vid-footnote {
    position: absolute;

    width: 500px;
    height: 300px;

    object-fit: contain;

    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(10, 10, 10, 255));

    z-index: 1;

    opacity: 0%;

    user-select: none;

    animation-name: footnote-fade-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.vid-footnote > a {
    display: block;
    width: inherit;
    height: inherit;
    z-index: 2;
}

.vid-footnote > p {
    position: absolute;
    bottom: 5%;
    left: 10px;
}

@keyframes zoom-in {
    from { transform: scale(1.0); }
    to { transform: scale(1.1); }
}

@keyframes zoom-out {
    from { transform: scale(1.1); }
    to { transform: scale(1.0); }
}

@keyframes footnote-fade-in {
    from { opacity: 0%; }
    to { opacity: 100%; }
}

@keyframes footnote-fade-out {
    from { opacity: 100%; }
    to { opacity: 0%; }
}