@import url("styles_fonts.css");

body {
    background-color: black;

    padding-left: 50px;
    padding-right: 50px;
}

a {
    text-decoration: none;
    color: white;
}

h1, h2, p {
    color: white;
    margin: auto;
}

h1, h2 {
    font-family: 'baukastenBold';
}

p {
    font-family: 'baukastenBook';
}

header {
    /* background-color: gray; */
    text-align: center;
    font-size: 1.5rem;
    margin-top: 50px;
    margin-bottom: 50px;
}

section {
    /* background-color: darkmagenta; */
    overflow: hidden;
    padding: 50px;
}

section h1 {
    position: relative;
    font-size: 3.5rem;
}

section p {
    position: static;
    font-size: 1.5rem;
    padding: 15px;
}

.company-logo-red {
    color: rgb(225, 0, 0)
}

footer {
    background-color: var(--description-color);
    width: var(--description-width);
    padding-top: 0.75rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1.25rem;

    opacity: 75%;
}

footer h1 {
    font-size: 1.25rem;
    user-select: none;
}

.footer-subsections {
    display: flex;

    margin: 1rem 0rem;
}

.footer-subsections * {
    flex: 1;
}

.footer-page-redirects p {
    color: darkred;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.footer-social-redirects p {
    color: darkred;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.page-links,
.social-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.page-links p,
.social-links p {
    color: white;
    text-align: left;
    font-size: 0.75rem;

    flex-basis: 50rem;
}

.page-links p:hover,
.social-links p:hover {
    color: red;
}

.footer-copyright-text {
    padding-top: 1.5rem;
    font-size: 0.75rem;

    border-top: 0.1rem solid rgb(50, 50, 50);
}

@media only screen and (max-width: 825px) {
    section h1 {
        font-size: 3.5rem;
    }
}