@font-face {
    font-family: "baukastenBold";
    src: url("../fonts/HomepageBaukasten-Bold.woff2");
}

@font-face {
    font-family: "baukastenBook";
    src: url("../fonts/HomepageBaukasten-Book.woff2");
}