@import url("styles_fonts.css");

:root {
    --width-side-1: 650px;
    --width-side-2: 350px;
    --description-width: 60vw;
    --description-color: rgb(10, 10, 10);
}

body {
    background-color: var(--description-color);
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    color: white;
    font-size: 2.5rem;
    font-family: "baukastenBold";
}

p {
    color: white;
    font-family: "baukastenBook";
    font-size: 1.5rem;   
}

header {
    position: relative;
    overflow: hidden;

    width: 100%;
    height: 98vh;
}

header > .project-info {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: left;
    mix-blend-mode: normal;

    bottom: 0%;
    left: 0%;

    padding: 50px;

    opacity: 0%;

    animation-name: fade-in-text;
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

main {
    background-color: var(--description-color);
}

footer {
    background-color: var(--description-color);
    width: var(--description-width);
    padding-top: 0.75rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1.25rem;

    opacity: 75%;
}

footer h1 {
    font-size: 1.25rem;
    user-select: none;
}

.footer-subsections {
    display: flex;

    margin: 1rem 0rem;
}

.footer-subsections * {
    flex: 1;
}

.footer-page-redirects p {
    color: darkred;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.footer-social-redirects p {
    color: darkred;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.page-links,
.social-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.page-links p,
.social-links p {
    color: white;
    text-align: left;
    font-size: 0.75rem;

    flex-basis: 50rem;
}

.page-links p:hover,
.social-links p:hover {
    color: red;
}

.footer-copyright-text {
    padding-top: 1.5rem;
    font-size: 0.75rem;

    border-top: 0.1rem solid rgb(50, 50, 50);
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: fade-in 0.5s ease-in forwards;
}

.back-button {
    display: flex;

    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 2;

    top: 10px;

    padding: 5px 15px;
    margin: 15px;
    background-color: #ffffff;
    border-radius: 25px;

     /* Add the subtle glow effect using box-shadow */
     box-shadow: 0 0 5px rgba(0, 255, 0, 0); /* Start with a transparent glow */
     transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.back-text {
    font-weight: bold;
    font-family: "baukastenBook";

    color: black;
    text-decoration: none;
}

/* Hover effect for buttons (Optional) */
.back-button:hover {
    box-shadow: 0 0 15px rgba(210, 216, 210, 0.5);

    transform: scale(1.1);
    size: 100px;
}

header img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    animation-name: fade-in-banner;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    animation-fill-mode: forwards;
}

.project-info p {
    color: white;
    font-size: 2.5rem;
    font-family: "baukastenBold";
    text-shadow: gray 2px 2px 5px;
    mix-blend-mode: difference;
}

.project-description { 
    width: var(--description-width);
    padding-top: 0.75rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1.25rem;
}

.project-description h1 {
    color:white;
    font-family: "baukastenBold";
    font-size: 2.5rem;
}

.info-item {
    margin-top: 0px;
    margin-bottom: 0px;
}

.download-container {
    display: flex;
    flex-direction: row;
}

.download-element {
    border: solid;
    border-color: rgb(20, 20, 20);
    border-radius: 50px;

    background-color: rgb(25, 25, 25);
}

.download-element {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: space-evenly;
    align-items: center;

    flex-basis: 200px;

    padding-top: 20px;
    padding-bottom: 20px;

    margin-left: 20px;
    margin-right: 20px;

    overflow: hidden;
}

.download-element:hover {
    animation: download-text-in 0.1s ease-in-out forwards;
}

.download-element:active {
    background-color: rgb(30, 30, 30);
    border-color: rgb(40, 40, 40);
}

.download-element > p {
    margin: 5px;
    filter: drop-shadow(2px 2px 5px black);
    user-select: none;
}

.download-element > img {
    width: 100px;
    height: 100px;
    
    margin: 5px;

    object-fit: contain;

    user-select: none;
}

.company-logo-red {
    color: rgb(212, 25, 25);
}

@media screen and (max-width: 680px) {
    .footer-subsections {
        display: block;
    }
}

@keyframes fade-in-text {
    from { 
        transform: translateX(-300px) scale(1.5) rotateZ(-5deg);
        opacity: 0% 
    }
    to { 
        transform: translateX(0px) scale(1) rotateZ(0deg);
        opacity: 100% 
    }
}

@keyframes fade-in-banner {
    from {
        transform: scale(1.5) rotateZ(5deg);
        opacity: 0%; 
    }
    to { 
        transform: scale(1) rotateZ(0deg);
        opacity: 100%; 
    }
}

@keyframes fade-in {
    from {
        opacity: 0%; 
    }
    to { 
        opacity: 100%; 
    }
}

@keyframes download-text-in {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.025);
    }
}

@keyframes download-text-out {
    from {
        transform: scale(1.025);
    }
    to {
        transform: scale(1);
    }
}